<h1>All your product are belongs to us</h1>

<% @products.each do |product| %>

<h1><%= product.name %></h1>
<p>
  $<%= product.cost.to_i %>
  <hr>
  <a href='/products/<%= product.id %>'>see details</a>
  <hr>
  <%= link_to 'see details', product_path(product), class: 'a-link' %>
  <hr>


</p>
<hr>

<% end %>
